<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.salesforce.testcases.S0153_CreateCasePage"/>
      <class name="com.salesforce.testcases.S0154_EditCase"/>
      <class name="com.salesforce.testcases.S0155_DeleteCase"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
